body{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: auto;
}

header{
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url('nigerian-food-01.jpg');
    background-size: cover;
    height: 100vh;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.header-nav{
    padding-right: 10px;
    padding-left: 10px;
}

.header-nav:hover{
    cursor: pointer;
}

#title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.07em;
}

#content-container{
    margin: auto;
    text-align: center;
}

#welcome{
    border: solid black 4px;
    width: 280px;
    margin: auto;
    padding: 25px 0px 20px 25px;
    border-radius: 0px 0px 0px 0px;
    position: relative;
    top: 100px;
}

#head{
    position: relative;
    top: 100px;
}

#headline{
    font-size: 50px;
    letter-spacing: 0.1em;
}

.header-navs{
    font-weight: 800;
    font-size: 20px;
}

#welcome-text{
    font-size: 20px;
    font-weight: bold;
}

#about-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 120px;
    margin-bottom: 250px;
    align-items: baseline;
}

#about-button{
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    position: relative;
    top: 100px;
}   

.text-container{
    width: 437px;
    height: 300px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px
}

img{
    height: 100%;
    width: 100%;
}

.image-container{
    height: auto;
    max-width: 300px;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu-page{
    color: black;
}